
  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30%;
    padding: 50px;
  }
  .form .input {
    flex-grow: 1;
    margin: 10px;
  }
  .form .input label {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  .form .input input {
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
  }
  .form .input input[type="submit"] {
    background-color: #2c88cf;
    color: #ffffff;
    font-weight: bold;
  }
